.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 2px;
    width: 50%;
    margin: 0 auto;
    background-color:rgb(164, 238, 230);
    font-size: 18px;
}